src/main/java/wsjuros/JurosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://juros.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://juros.ws/" name="JurosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://juros.ws/" schemaLocation="http://desktop-kuvofv3:8080/JurosServer/JurosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="juroSimples">
<part name="parameters" element="tns:juroSimples"/>
</message>
<message name="juroSimplesResponse">
<part name="parameters" element="tns:juroSimplesResponse"/>
</message>
<message name="juroComposto">
<part name="parameters" element="tns:juroComposto"/>
</message>
<message name="juroCompostoResponse">
<part name="parameters" element="tns:juroCompostoResponse"/>
</message>
<message name="montanteJuroComposto">
<part name="parameters" element="tns:montanteJuroComposto"/>
</message>
<message name="montanteJuroCompostoResponse">
<part name="parameters" element="tns:montanteJuroCompostoResponse"/>
</message>
<message name="montanteJuroSimples">
<part name="parameters" element="tns:montanteJuroSimples"/>
</message>
<message name="montanteJuroSimplesResponse">
<part name="parameters" element="tns:montanteJuroSimplesResponse"/>
</message>
<portType name="JurosWS">
<operation name="juroSimples">
<input wsam:Action="http://juros.ws/JurosWS/juroSimplesRequest" message="tns:juroSimples"/>
<output wsam:Action="http://juros.ws/JurosWS/juroSimplesResponse" message="tns:juroSimplesResponse"/>
</operation>
<operation name="juroComposto">
<input wsam:Action="http://juros.ws/JurosWS/juroCompostoRequest" message="tns:juroComposto"/>
<output wsam:Action="http://juros.ws/JurosWS/juroCompostoResponse" message="tns:juroCompostoResponse"/>
</operation>
<operation name="montanteJuroComposto">
<input wsam:Action="http://juros.ws/JurosWS/montanteJuroCompostoRequest" message="tns:montanteJuroComposto"/>
<output wsam:Action="http://juros.ws/JurosWS/montanteJuroCompostoResponse" message="tns:montanteJuroCompostoResponse"/>
</operation>
<operation name="montanteJuroSimples">
<input wsam:Action="http://juros.ws/JurosWS/montanteJuroSimplesRequest" message="tns:montanteJuroSimples"/>
<output wsam:Action="http://juros.ws/JurosWS/montanteJuroSimplesResponse" message="tns:montanteJuroSimplesResponse"/>
</operation>
</portType>
<binding name="JurosWSPortBinding" type="tns:JurosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="juroSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="juroComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="montanteJuroComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="montanteJuroSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JurosWS">
<port name="JurosWSPort" binding="tns:JurosWSPortBinding">
<soap:address location="http://desktop-kuvofv3:8080/JurosServer/JurosWS"/>
</port>
</service>
</definitions>