src/main/java/ws/juros.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.juros.soap.ws.gus/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.juros.soap.ws.gus/" name="WSJuros">
<types>
<xsd:schema>
<xsd:import namespace="http://service.juros.soap.ws.gus/" schemaLocation="http://ws-soap-juros.gustavo-lara.codes:80/juros?xsd=1" />
</xsd:schema>
</types>
<message name="montanteJuroComposto">
<part name="parameters" element="tns:montanteJuroComposto" />
</message>
<message name="montanteJuroCompostoResponse">
<part name="parameters" element="tns:montanteJuroCompostoResponse" />
</message>
<message name="montanteJuroSimples">
<part name="parameters" element="tns:montanteJuroSimples" />
</message>
<message name="montanteJuroSimplesResponse">
<part name="parameters" element="tns:montanteJuroSimplesResponse" />
</message>
<message name="juroComposto">
<part name="parameters" element="tns:juroComposto" />
</message>
<message name="juroCompostoResponse">
<part name="parameters" element="tns:juroCompostoResponse" />
</message>
<message name="juroSimples">
<part name="parameters" element="tns:juroSimples" />
</message>
<message name="juroSimplesResponse">
<part name="parameters" element="tns:juroSimplesResponse" />
</message>
<portType name="WSJuros">
<operation name="montanteJuroComposto">
<input wsam:Action="http://service.juros.soap.ws.gus/WSJuros/montanteJuroCompostoRequest" message="tns:montanteJuroComposto" />
<output wsam:Action="http://service.juros.soap.ws.gus/WSJuros/montanteJuroCompostoResponse" message="tns:montanteJuroCompostoResponse" />
</operation>
<operation name="montanteJuroSimples">
<input wsam:Action="http://service.juros.soap.ws.gus/WSJuros/montanteJuroSimplesRequest" message="tns:montanteJuroSimples" />
<output wsam:Action="http://service.juros.soap.ws.gus/WSJuros/montanteJuroSimplesResponse" message="tns:montanteJuroSimplesResponse" />
</operation>
<operation name="juroComposto">
<input wsam:Action="http://service.juros.soap.ws.gus/WSJuros/juroCompostoRequest" message="tns:juroComposto" />
<output wsam:Action="http://service.juros.soap.ws.gus/WSJuros/juroCompostoResponse" message="tns:juroCompostoResponse" />
</operation>
<operation name="juroSimples">
<input wsam:Action="http://service.juros.soap.ws.gus/WSJuros/juroSimplesRequest" message="tns:juroSimples" />
<output wsam:Action="http://service.juros.soap.ws.gus/WSJuros/juroSimplesResponse" message="tns:juroSimplesResponse" />
</operation>
</portType>
<binding name="WSJurosPortBinding" type="tns:WSJuros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="montanteJuroComposto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="montanteJuroSimples">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="juroComposto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="juroSimples">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSJuros">
<port name="WSJurosPort" binding="tns:WSJurosPortBinding">
<soap:address location="http://ws-soap-juros.gustavo-lara.codes:80/juros" />
</port>
</service>
</definitions>